# HMDA Data Analysis (DuckDB)

In [6]:
!pip install duckdb
!pip install pandas

Requirement already satisfied: duckdb in d:\darshana\projects\fifth_third\hmda_risk_insights\.venv\lib\site-packages (1.4.1)

[notice] A new release of pip is available: 25.0.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

Collecting pandas
  Using cached pandas-2.3.3-cp313-cp313-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Using cached numpy-2.3.4-cp313-cp313-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\darshana\projects\fifth_third\hmda_risk_insights\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in d:\darshana\projects\fifth_third\hmda_risk_insights\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Using cached pandas-2.3.3-cp313-cp313-win_amd64.whl (11.0 MB)
Using cached numpy-2.3.4-cp313-cp313-win_amd64.whl (12.8 MB)
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Using cached tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.3.4 pandas-2.3.3 pytz-2025.2 tzdata-2025.2

[notice] A new release of pip is available: 25.0.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [19]:

import duckdb
import pandas as pd

# >>> EDIT THIS PATH IF NEEDED <<<
DB_PATH = r"D:/Darshana/Projects/Fifth_third/HMDA_Risk_Insights/db/hmda_risk.duckdb"

con = duckdb.connect(DB_PATH)
print(f"Connected to: {DB_PATH}")

def run(sql):
    """
    Helper to run a SQL and return a pandas DataFrame.
    """
    df = con.execute(sql).fetchdf()
    display(df)

Connected to: D:/Darshana/Projects/Fifth_third/HMDA_Risk_Insights/db/hmda_risk.duckdb

## Peek first 20 rows

In [20]:
run('''SELECT * FROM hmda.loan_applications LIMIT 20;''')

,application_id,activity_year,lei,loan_type,loan_type_description,loan_purpose,loan_purpose_description,preapproval,preapproval_description,construction_method,...,initially_payable_to_institution,initially_payable_to_institution_desc,automated_underwriting_system,automated_underwriting_system_desc,reverse_mortgage,reverse_mortgage_desc,open_end_line_of_credit,open_end_line_of_credit_desc,business_or_commercial_purpose,business_or_commercial_purpose_desc
0,1,2019,QFROUN1UWUYU0DVIWD51,1,Conventional (not insured or guaranteed by FHA...,5,Not applicable,2,Preapproval not requested,1,...,3,Not applicable,6,Not applicable,2,Not a reverse mortgage,2,Not an open-end line of credit,2,Not primarily for a business or commercial pur...
1,2,2019,QFROUN1UWUYU0DVIWD51,1,Conventional (not insured or guaranteed by FHA...,31,Refinancing,2,Preapproval not requested,1,...,3,Not applicable,6,Not applicable,2,Not a reverse mortgage,2,Not an open-end line of credit,2,Not primarily for a business or commercial pur...
2,3,2019,QFROUN1UWUYU0DVIWD51,1,Conventional (not insured or guaranteed by FHA...,32,Cash-out refinancing,2,Preapproval not requested,1,...,3,Not applicable,6,Not applicable,2,Not a reverse mortgage,2,Not an open-end line of credit,2,Not primarily for a business or commercial pur...
3,4,2019,QFROUN1UWUYU0DVIWD51,1,Conventional (not insured or guaranteed by FHA...,32,Cash-out refinancing,2,Preapproval not requested,1,...,3,Not applicable,6,Not applicable,2,Not a reverse mortgage,2,Not an open-end line of credit,2,Not primarily for a business or commercial pur...
4,5,2019,QFROUN1UWUYU0DVIWD51,1,Conventional (not insured or guaranteed by FHA...,32,Cash-out refinancing,2,Preapproval not requested,1,...,3,Not applicable,6,Not applicable,2,Not a reverse mortgage,2,Not an open-end line of credit,2,Not primarily for a business or commercial pur...
5,6,2019,QFROUN1UWUYU0DVIWD51,1,Conventional (not insured or guaranteed by FHA...,31,Refinancing,2,Preapproval not requested,1,...,3,Not applicable,6,Not applicable,2,Not a reverse mortgage,2,Not an open-end line of credit,2,Not primarily for a business or commercial pur...
6,7,2019,QFROUN1UWUYU0DVIWD51,1,Conventional (not insured or guaranteed by FHA...,31,Refinancing,2,Preapproval not requested,1,...,3,Not applicable,6,Not applicable,2,Not a reverse mortgage,2,Not an open-end line of credit,2,Not primarily for a business or commercial pur...
7,8,2019,QFROUN1UWUYU0DVIWD51,1,Conventional (not insured or guaranteed by FHA...,31,Refinancing,2,Preapproval not requested,1,...,3,Not applicable,6,Not applicable,2,Not a reverse mortgage,2,Not an open-end line of credit,2,Not primarily for a business or commercial pur...
8,9,2019,QFROUN1UWUYU0DVIWD51,1,Conventional (not insured or guaranteed by FHA...,31,Refinancing,2,Preapproval not requested,1,...,3,Not applicable,6,Not applicable,2,Not a reverse mortgage,2,Not an open-end line of credit,2,Not primarily for a business or commercial pur...
9,10,2019,QFROUN1UWUYU0DVIWD51,1,Conventional (not insured or guaranteed by FHA...,1,Home purchase,2,Preapproval not requested,1,...,3,Not applicable,6,Not applicable,2,Not a reverse mortgage,2,Not an open-end line of credit,2,Not primarily for a business or commercial pur...
10,11,2019,QFROUN1UWUYU0DVIWD51,1,Conventional (not insured or guaranteed by FHA...,32,Cash-out refinancing,2,Preapproval not requested,1,...,3,Not applicable,6,Not applicable,2,Not a reverse mortgage,2,Not an open-end line of credit,2,Not primarily for a business or commercial pur...
11,12,2019,QFROUN1UWUYU0DVIWD51,1,Conventional (not insured or guaranteed by FHA...,32,Cash-out refinancing,2,Preapproval not requested,1,...,3,Not applicable,6,Not applicable,2,Not a reverse mortgage,2,Not an open-end line of credit,2,Not primarily for a business or commercial pur...
12,13,2019,QFROUN1UWUYU0DVIWD51,1,Conventional (not insured or guaranteed by FHA...,32,Cash-out refinancing,2,Preapproval not requested,1,...,3,Not applicable,6,Not applicable,2,Not a reverse mortgage,2,Not an open-end line of credit,2,Not primarily for a business or commercial pur...
13,14,2019,QFROUN1UWUYU0DVIWD51,1,Conventional (not insured or guaranteed by FHA...,31,Refinancing,2,Preapproval not requested,1,...,3,Not applicable,6,Not applicable,2,Not a reverse mortgage,2,Not an open-end line of credit,2,Not primarily for a business or commercial pur...
14,15,2019,QFROUN1UWUYU0DVIWD51,1,Conventional (not insured or guaranteed by FHA...,32,Cash-out refinancing,2,Preapproval not requested,1,...,3,Not applicable,6,Not applicable,2,Not a reverse mortgage,2,Not an open-end line of credit,2,Not primarily for a business or commercial pur...
15,16,2019,QFROUN1UWUYU0DVIWD51,1,Conventional (not insured or guaranteed by FHA...,32,Cash-out refinancing,2,Preapproval not requested,1,...,3,Not applicable,6,Not applicable,2,Not a reverse mortgage,2,Not an open-end line of credit,2,Not primarily for a business or commercial pur...
16,17,2019,QFROUN1UWUYU0DVIWD51,1,Conventional (not insured or guaranteed by FHA...,32,Cash-out refinancing,2,Preapproval not requested,1,...,3,Not applicable,6,Not applicable,2,Not a reverse mortgage,2,Not an open-end line of credit,2,Not primarily for a business or commercial pur...
17,18,2019,QFROUN1UWUYU0DVIWD51,1,Conventional (not insured or guaranteed by FHA...,32,Cash-out refinancing,2,Preapproval not requested,1,...,3,Not applicable,6,Not applicable,2,Not a reverse mortgage,2,Not an open-end line of credit,2,Not primarily for a business or commercial pur...
18,19,2019,QFROUN1UWUYU0DVIWD51,1,Conventional (not insured or guaranteed by FHA...,31,Refinancing,2,Preapproval not requested,1,...,3,Not applicable,6,Not applicable,2,Not a reverse mortgage,2,Not an open-end line of credit,2,Not primarily for a business or commercial pur...
19,20,2019,QFROUN1UWUYU0DVIWD51,1,Conventional (not insured or guaranteed by FHA...,32,Cash-out refinancing,2,Preapproval not requested,1,...,3,Not applicable,6,Not applicable,2,Not a reverse mortgage,2,Not an open-end line of credit,2,Not primarily for a business or commercial pur...

## Application volume trend over time: Helps management track growth and seasonality.
How has the number of loan applications changed year over year?

In [21]:
run('''SELECT activity_year, COUNT(*) AS total_applications
FROM hmda.loan_applications
GROUP BY activity_year
ORDER BY activity_year;''')

   activity_year  total_applications
0           2019              109832
1           2020               62172
2           2021               78094
3           2022              110747
4           2023                8738
5           2024               64220

## Average loan amount by state: Can inform lending strategies and risk management.
How do average loan amounts vary across states?

In [22]:
run('''SELECT state_code, ROUND(AVG(loan_amount), 2) AS avg_loan_amount
FROM hmda.loan_applications
GROUP BY state_code
ORDER BY avg_loan_amount DESC;''')

   state_code  avg_loan_amount
0          HI        665000.00
1          WY        596176.47
2          DC        583125.00
3          CA        425514.17
4          WA        423104.62
5          MT        419532.37
6          UT        402430.83
7          CO        399256.72
8          NY        394403.78
9          MA        391131.32
10         OR        365340.14
11         MD        363980.99
12         TX        358008.03
13         SC        354847.04
14         NJ        350077.51
15         AZ        349967.54
16         VA        341930.37
17         NV        331929.82
18         NH        320387.45
19         VT        311632.65
20         CT        311341.95
21         RI        305291.78
22         ID        304629.63
23         ME        304185.19
24         WI        303468.68
25         MN        301811.18
26         FL        281628.23
27         DE        278551.91
28         ND        277500.00
29         GA        277395.03
30         TN        262912.52
31         PA        257949.94
32         AK        255000.00
33         KS        251360.00
34         IL        242694.05
35         AL        240388.51
36         MO        240323.65
37         NM        239947.09
38         NC        238284.26
39         LA        233224.64
40         OK        227796.93
41         NE        224375.00
42         AR        220416.67
43         SD        213181.82
44         MS        199423.08
45         IA        199035.87
46         WV        152851.37
47         OH        147752.66
48         MI        146569.92
49         IN        144223.24
50         KY        142945.77

## Loan purpose distribution: Helps product teams tailor offerings by loan purpose.
What proportion of loans are for home purchase vs refinancing vs other purposes?

In [23]:
run('''SELECT loan_purpose_description, COUNT(*) AS total, 
       ROUND(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER(), 2) AS pct
FROM hmda.loan_applications
GROUP BY loan_purpose_description
ORDER BY total DESC;''')

  loan_purpose_description   total    pct
0              Refinancing  152102  35.06
1            Home purchase  130068  29.98
2     Cash-out refinancing   50670  11.68
3         Home improvement   49446  11.40
4            Other purpose   48316  11.14
5           Not applicable    3201   0.74

## Loan approval vs denial rates: Useful for risk monitoring and compliance reporting.
What are the approval vs denial rates overall?

In [25]:
run('''SELECT action_taken_description, COUNT(*) AS total,
       ROUND(COUNT(*) * 100.0 / SUM(COUNT(*)) OVER(), 2) AS pct
FROM hmda.loan_applications
GROUP BY action_taken_description
ORDER BY total DESC;''')

                action_taken_description   total    pct
0                        Loan originated  232254  53.54
1                         Purchased loan  103384  23.83
2                     Application denied   54614  12.59
3     Application withdrawn by applicant   28189   6.50
4         File closed for incompleteness   11433   2.64
5  Application approved but not accepted    3929   0.91

## Approval rate by loan type: Can identify lower-risk or preferred products.
Which loan types have the highest approval rates?

In [26]:
run('''SELECT loan_type_description,
       SUM(CASE WHEN action_taken_description = 'Loan originated' THEN 1 ELSE 0 END) AS approved,
       COUNT(*) AS total,
       ROUND(SUM(CASE WHEN action_taken_description = 'Loan originated' THEN 1 ELSE 0 END) * 100.0 / COUNT(*), 2) AS approval_rate
FROM hmda.loan_applications
GROUP BY loan_type_description
ORDER BY approval_rate DESC;''')

,loan_type_description,approved,total,approval_rate
0,USDA Rural Housing Service or the Farm Service...,469.0,818,57.33
1,Conventional (not insured or guaranteed by FHA...,223569.0,410434,54.47
2,Veterans Affairs guaranteed (VA),2460.0,6027,40.82
3,Federal Housing Administration insured (FHA),5756.0,16524,34.83

## Average loan amount by applicant age group: Useful for demographic insights
Are older borrowers applying for higher or lower loan amounts?”

In [27]:
run('''SELECT 
  CASE 
    WHEN applicant_age < 30 THEN '<30'
    WHEN applicant_age BETWEEN 30 AND 44 THEN '30-44'
    WHEN applicant_age BETWEEN 45 AND 59 THEN '45-59'
    ELSE '60+' 
  END AS age_group,
  ROUND(AVG(loan_amount), 2) AS avg_loan_amount
FROM hmda.loan_applications
WHERE applicant_age IS NOT NULL
GROUP BY age_group
ORDER BY age_group;''')

  age_group  avg_loan_amount
0       60+        339983.23

## Year-over-year growth rate of applications: Helps identify growth trends or dips
What’s the % growth in loan applications year-over-year?

In [31]:
run('''WITH yearly AS (
  SELECT activity_year,
         COUNT(*) AS total
  FROM hmda.loan_applications
  GROUP BY activity_year
)
SELECT activity_year,
       total,
       LAG(total) OVER (ORDER BY activity_year) AS prev_total,
       CONCAT(
         ROUND(
           (total - LAG(total) OVER (ORDER BY activity_year)) * 100.0 
           / NULLIF(LAG(total) OVER (ORDER BY activity_year), 0),
         2),
         '%'
       ) AS yoy_growth_pct
FROM yearly
ORDER BY activity_year;''')

   activity_year   total  prev_total yoy_growth_pct
0           2019  109832        <NA>              %
1           2020   62172      109832        -43.39%
2           2021   78094       62172         25.61%
3           2022  110747       78094         41.81%
4           2023    8738      110747        -92.11%
5           2024   64220        8738        634.95%